.sub-details {
  color: #000;
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  justify-content: center;
  text-align: center;
  width: 100%;
  padding: 0rem 1rem 1rem 1rem;
}

.ant-drawer-header {
  display: none !important;
}

.drop-zone {
  border: 0.5px dashed var(--Gray-gray-7, #8c8c8c);
  background: rgba(104, 54, 209, 0.02);
}

.join-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 7.38rem;
  align-items: center;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  height: fit-content;
}

.main-jd-content {
  padding: 5rem;
  margin-top: 4rem;
}

.grid-card {
  object-fit: cover;
  aspect-ratio: 1 / 1;
  grid-column: span 1 / span 1;
  display: grid;
  max-width: 24rem;
  min-width: 18rem;
}

.dep-dropdown-mobile,
.exp-dropdown-mobile,
.loc-dropdown-mobile,
.roles-dropdown-mobile {
  height: 2.25rem;
}

.job-card-container {
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (min-width: 1024px) {
  .job-card-container {
    padding-left: 7rem;
    padding-right: 7rem;
  }
}

.contact-main {
  width: 50%;
  margin-left: 1.25rem;
}

.ptc-left-container {
  width: 50%;
}

.ptc-right-container {
  width: 53%;
}

.privacy-section2 {
  margin-top: 2.5rem;
}
.highlight:hover:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: .25rem;
  background-color: #7389fa;
}
/* Media query for small screens (e.g., phones) */
@media (max-width: 576px) {
  .contact-content-wrapper {
    display: none;
  }

  .privacy-section2 {
    margin-top: 0rem;
  }

  .contact-sidebar {
    display: none;
  }
  .main-jd-content {
    padding: 1rem;
    margin-top: 4rem;
  }

  .skew-container {
    height: 100%;
    clip-path: none;
    /* Adjust values for desired skew */
  }

  .ptc-left-container {
    width: 100%;
  }

  .ptc-right-container {
    width: 100%;
  }

  .ptc-hero-container {
    flex-direction: column;
    height: 100vh;
  }

  .contact-main {
    width: 100%;
    margin-left: 0rem;
  }

  .join-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    height: fit-content;
  }

  .grid-card {
    max-width: 24rem;
    min-width: 18rem;
  }

  .dep-dropdown {
    display: none;
  }

  .exp-dropdown {
    display: none;
  }

  .loc-dropdown {
    display: none;
  }

  .roles-dropdown {
    display: none;
  }
}

/* Media query for medium-sized screens (e.g., tablets) */
@media (min-width: 577px) and (max-width: 768px) {
  .dep-dropdown {
    display: none;
  }
  .main-jd-content {
    padding: 1.5rem;
    margin-top: 4rem;
    font-family: Montserrat;
  }
  .main-jd-content > div > ul > li {
    font-family: Poppins;
  }
  .privacy-section2 {
    margin-top: 0.5rem;
  }

  .contact-sidebar {
    display: none;
  }

  .skew-container {
    height: 100%;
    clip-path: none;
    /* Adjust values for desired skew */
  }

  .ptc-left-container {
    width: 100%;
  }

  .ptc-right-container {
    width: 100%;
  }

  .contact-content-wrapper {
    display: none;
  }

  .ptc-hero-container {
    flex-direction: column;
  }

  .contact-main {
    width: 100%;
    margin-left: 0rem;
  }

  .exp-dropdown {
    display: none;
  }

  .filter {
    padding-left: 2rem /* 112px */;
    padding-right: 2rem /* 112px */;
  }

  .loc-dropdown {
    display: none;
  }

  .roles-dropdown {
    display: none;
  }

  .join-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    height: fit-content;
  }

  .grid-card {
    object-fit: cover;
    aspect-ratio: 1 / 1;
    grid-column: span 1 / span 1;
    display: grid;
    max-width: 24rem;
    min-width: 18rem;
  }
}

/* Media query for large screens (e.g., laptops) */
@media (min-width: 769px) and (max-width: 992px) {
  .join-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    height: fit-content;
  }

  .filter-mobile {
    display: none;
  }

  .grid-card {
    object-fit: cover;
    aspect-ratio: 1 / 1;
    grid-column: span 1 / span 1;
    display: grid;
    max-width: 24rem;
    min-width: 18rem;
  }
}

/* Media query for large screens (e.g., desktops) */
@media (min-width: 993px) and (max-width: 1200px) {
  .filter-mobile {
    display: none;
  }
}

/* Media query for extra-large screens (e.g., large desktops) */
@media (min-width: 1201px) {
  .filter-mobile {
    display: none;
  }
}

/* input[type="date"]::-webkit-calendar-picker-indicator {
  background: transparent;
  color: black;
  width: 100%;
} */

.ant-picker {
  margin: 0;
  padding: 4px 5px;
  color: #000;
  font-size: 0.75rem;
  font-weight: 300;
  line-height: 1;
  list-style: none;
  font-family: poppins;
  position: relative;
  display: inline-flex;
  align-items: center;
  border: transparent;
  transition:
    border 0.2s,
    box-shadow 0.2s;
  border: 0.5px solid #8c8c8c;
  border-radius: 0;
  margin-top: 0.25rem;
}

/* self-stretch border-[color:var(--gray-gray-7, #8C8C8C)] flex shrink-0 h-[29px] mt-1 border-[0.5px] border-solid max-md:max-w-full */
.intern-input {
  justify-self: stretch;
  width: 100%;
  border-color: var(--gray-gray-7, #8c8c8c);
  display: flex;
  flex-shrink: 0;
  height: 1.875rem;
  margin-top: 0.25rem;
  padding-left: 1rem;
  font-family: poppins;
  border-width: 0.031rem;
  border-style: solid;
  max-width: 100%;
  width: 100%;
}

/* .ant-picker .ant-picker-input{
  border: 0.5px solid #8C8C8C;
  border-radius: 0;
  margin-top: 0.25rem;
  padding: 4px 5px;
} */

/* Media query for medium-sized screens (landscape orientation) */
/* @media (min-width: 577px) and (max-width: 768px) and (orientation: landscape) {
  } */
@media(max-width:1024px) {
  .aside {
    max-width: 22rem !important;
  }
}
@media(max-width:768px){
  .aside{
    display: none;
  }
}
.aside{
  width: 100%;
  max-width: 25rem;
  position: sticky;
  font-family: poppins;
  top: 4rem;
  max-height: 100dvh;
  overflow-y: auto;
  scroll-snap-type: y mandatory;
  scrollbar-width: auto !important;
  -ms-overflow-style: auto !important;
}

.aside::-webkit-scrollbar {
  width: auto !important;
  height: auto !important;
}
.aside > ul>li{
  scroll-snap-align: start;
  list-style-image: url('data:image/svg+xml,<svg transform="scale(0.5) translate(0, 10)" transform-origin="center" xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28" fill="none"><path d="M21 18.375C20.5625 18.375 20.125 18.2 19.775 17.85L17.15 15.225C16.8 14.875 16.625 14.4375 16.625 14C16.625 13.5625 16.8 13.125 17.15 12.775L19.775 10.15C20.125 9.8 20.5625 9.625 21 9.625C21.4375 9.625 21.875 9.8 22.225 10.15L24.85 12.775C25.2 13.125 25.375 13.5625 25.375 14C25.375 14.4375 25.2 14.875 24.85 15.225L22.225 17.85C21.875 18.2 21.4375 18.375 21 18.375ZM21 11.375L18.375 14L21 16.625L23.625 14L21 11.375Z" fill="url(%23paint0_linear_13782_27919)"/><path d="M14 11.375C13.5625 11.375 13.125 11.2 12.775 10.85L10.15 8.225C9.8 7.875 9.625 7.4375 9.625 7C9.625 6.5625 9.8 6.125 10.15 5.775L12.775 3.15C13.125 2.8 13.5625 2.625 14 2.625C14.4375 2.625 14.875 2.8 15.225 3.15L17.85 5.775C18.2 6.125 18.375 6.5625 18.375 7C18.375 7.4375 18.2 7.875 17.85 8.225L15.225 10.85C14.875 11.2 14.4375 11.375 14 11.375ZM14 4.375L11.375 7L14 9.625L16.625 7L14 4.375Z" fill="url(%23paint1_linear_13782_27919)"/><path d="M14 25.375C13.5625 25.375 13.125 25.2 12.775 24.85L10.15 22.225C9.8 21.875 9.625 21.4375 9.625 21C9.625 20.5625 9.8 20.125 10.15 19.775L12.775 17.15C13.125 16.8 13.5625 16.625 14 16.625C14.4375 16.625 14.875 16.8 15.225 17.15L17.85 19.775C18.2 20.125 18.375 20.5625 18.375 21C18.375 21.4375 18.2 21.875 17.85 22.225L15.225 24.85C14.875 25.2 14.4375 25.375 14 25.375ZM14 18.375L11.375 21L14 23.625L16.625 21L14 18.375Z" fill="url(%23paint2_linear_13782_27919)"/><path d="M7 18.375C6.5625 18.375 6.125 18.2 5.775 17.85L3.15 15.225C2.8 14.875 2.625 14.4375 2.625 14C2.625 13.5625 2.8 13.125 3.15 12.775L5.775 10.15C6.125 9.8 6.5625 9.625 7 9.625C7.4375 9.625 7.875 9.8 8.225 10.15L10.85 12.775C11.2 13.125 11.375 13.5625 11.375 14C11.375 14.4375 11.2 14.875 10.85 15.225L8.225 17.85C7.875 18.2 7.4375 18.375 7 18.375ZM7 11.375L4.375 14L7 16.625L9.625 14L7 11.375Z" fill="url(%23paint3_linear_13782_27919)"/><defs><linearGradient id="paint0_linear_13782_27919" x1="14" y1="2.625" x2="14" y2="25.375" gradientUnits="userSpaceOnUse"><stop stop-color="%23360E81"/><stop offset="1" stop-color="%2320084D"/></linearGradient><linearGradient id="paint1_linear_13782_27919" x1="14" y1="2.625" x2="14" y2="25.375" gradientUnits="userSpaceOnUse"><stop stop-color="%23360E81"/><stop offset="1" stop-color="%2320084D"/></linearGradient><linearGradient id="paint2_linear_13782_27919" x1="14" y1="2.625" x2="14" y2="25.375" gradientUnits="userSpaceOnUse"><stop stop-color="%23360E81"/><stop offset="1" stop-color="%2320084D"/></linearGradient><linearGradient id="paint3_linear_13782_27919" x1="14" y1="2.625" x2="14" y2="25.375" gradientUnits="userSpaceOnUse"><stop stop-color="%23360E81"/><stop offset="1" stop-color="%2320084D"/></linearGradient></defs></svg>');
}

li::marker {
  font-size: 1.5em;
  line-height: 0.1em;
}